@import "../../node_modules/hamburgers/dist/hamburgers";

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  background: var(--white);
  color: var(--text-primary);
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3,
p {
  line-height: 1.4;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  color: var(--text-secondary);
  font-weight: 500;
}

input {
  -webkit-appearance: none;
  appearance: none;
  width: var(--full);
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  color: var(--text-secondary);
  border: 1px solid var(--text-primary);
  border-radius: 0;
  background: var(--white);
  height: 60px;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}

.not-found {
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-secondary);
}

// hamburger icon

.hamburger-box {
  border: none;
  outline: none;
  padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--text-secondary);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--text-secondary);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}
