:root {
  --text-primary: #262626;
  --text-secondary: #535353;
  --fade: #ccc;
  --fade-secondary: #ededed;
  --whiteSmoke: #a0a0a0;
  --white: #fff;
  --full: 100%;
  --radius: 5px;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
}
