.employees-page {
  width: var(--full);

  .wrapper {
    width: 90%;
    max-width: 1680px;
    margin: 0 auto;

    h1 {
      font-weight: 500;
      font-size: 25px;
      color: var(--text-secondary);
      max-width: 512px;
      margin: 0 auto;
    }

    .employees-list {
      width: var(--full);
      margin: 48px auto;
      max-width: 512px;

      > ul {
        width: var(--full);
        height: var(--full);

        > li {
          border: 1px solid var(--fade-secondary);
          margin-bottom: 25px;
          border-radius: 3px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
